*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
  --white: #fff;
  --black: var(--black);
}



.main-container{
    padding-left: 3.5rem;
}
.hero-section{
    display: flex;
    justify-content: space-between;
}

.main-border{
    border-left: 2px solid #909091;
    padding-left: 1rem;
}


/* hero left */

.hero-left{
width: 65%;
/* padding-left: 2.5rem; */
}

.hero-left .left-image{
    width: 100%;
    height: 2   ;
}

.left-image img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

/* carousel */


/* carousel */

.pst-link{
    display: flex;
    background: #F6F7F9;
    padding: 10px;
    justify-content: space-between;
    width: 65%; 
    position: relative;
    top: -4rem;
}

.pst-link a {
  text-decoration: none;
  color:var(--black);
}

.pst-link span:last-child{
    display: flex;
    align-items: center;
}

.features{
    width: 65%;
    padding-top: 2.5rem;
    position: relative;
    top: -3rem;
}

.features h5{
    font-weight: bold;
    font-size: 18px;
}

.feature-main{
    display: flex;
    justify-content: space-between;
    padding-left: 1.6rem;
    /* padding-top: 1.4rem; */
    margin-bottom: 2rem;
}

.feature-main ul{
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

/* hero left ends */

/* hero right */

.hero-right{
    width: 30%;
    padding-right: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem
}
.accordion {
    width: 100%;
  }
  
  .accordion-header {
    background-color: var(--white);
    color: var(--black);
    cursor: pointer;
    padding: 10px;
    border: none;
    outline: none;
    transition: var(--white) 0.3s ease;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 15px;
  }
  

  .accordion-header.active {
    background-color: #ccc;
  }
  
  .accordion-content {
    padding: 10px;
    display: none;
    background-color: #f9f9f9;
    /* border: 1px solid #aaa; */
  }
  
  .accordion-content.active {
    display: block;
  }

  .line{
    width: 90%;
    height: 1px;
    background-color: #eee;
    position: absolute;
    left: 0;
  }

  .right-bottom {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    /* padding-left: 1rem; */

  }

  .b-first{
    display: flex;
    justify-content: space-between;
  }

  .b-first span:first-child{
    font-weight: bold;
  }

  .price-unit .price{
    display: flex;
    gap: 10px;
    font-weight: bold;
  }
  

  .price-1{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
  }

  .right-buttons{
    display: flex;
    flex-direction: column;
    padding-top: 20px;

  }

  .right-bottom button:first-child{
    padding: 10px 0;
    border: none;
    border-radius: 3px;
    background: #0067B9;
    color: white;
    border: 2px solid  #0067B9;
    cursor: pointer;
  }
  .right-bottom button:last-child{
    padding: 10px 0;
    border: none;
    border-radius: 3px;
    border: 2px solid  #0067B9;
    color: #0067B9;
    margin: 20px 0;
    cursor: pointer;
  }

  .add-share{
    display: flex;
    gap: 2rem;
  }


  /* technical attribute */

  .technical-attribute{
    width: 60%;
    /* padding-left: 2rem; */
  }

  .technical-header{
    display: flex;
    justify-content: space-between;
  }

  #attributes {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
  }
  
  #attributes td, #attributes th {
    /* border: 1px solid #ddd; */
    padding: 8px;
  }
  
  
  #attributes tr td{
    padding: 10px 0;
    font-size: 14px;
  }

  #attributes th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    border-bottom: 2px solid black;
    font-size: 12px;
  }

  /* applications */

  .application-para{
    display: flex;
    flex-direction: column;
    gap: 1rem 3rem;
  }

  .application-header{
    border-bottom: 1.5px solid #0067B9;
    background-color: transparent;
    margin-top: 1rem;
   
  }

  .application-para1 {
    padding: 20px;
    margin-bottom: 3rem;
  }

  .application-para1 h5{
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0;
  }

  .application-para1 p{
    font-weight: bold;
  }

  .application-para1 .image-main{
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-left: 2rem;
    padding-top: 1.9rem;
    text-align: center;
  }

  .image-main img{
    /* width: 15%; */
  }

  .img img{
    width: 70%;
    height: 100%;
  }

  .line1{
    font-weight: bold;
    height: 2px;
    width: 100%;
    margin-top: 3rem;
  }

  .application-text1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .application-text1 h5{
    padding-top: 20px;
  }
  .application-text1 .text1{
        display: flex;
        gap: 2rem;
  }

  /* next section */

  .next-section{
    width: 60%;
    margin-top: 3rem;
    /* padding-left: 2rem; */
  }

  .next-section h5{
    font-size: 17px;
    font-size: 17px;
    font-weight: bold;
    padding-top: 20px;
  }
  .next-acc{
    margin-top: 1rem;
  }

  .next-accordian{
    border-bottom: 1.5px solid #909091;
  }

  .next-line{
    height: 2px;
    width: 100%;
    background-color: #909091;
    margin: 40px 0 20px 0;
  }

  .next-left{
    display: flex;
    gap: 10px;
  }

  /* next four section */

  .next-four-section{
    padding-top: 4rem;
  }

  .next-four-section h5{
    font-weight: bold;
    font-size: 17px;
  }

  .next-four{
    /* padding-left: 0; */
    display: flex;
    gap: 1rem;
  }


/* next section five */

.next-five-section{
    /* padding-left: 2rem; */
    width: 60%;
    margin-top: 4rem;
}

.next-five-section h5{
    font-size: 17px;
    font-weight: bold;
    padding: 1rem 0;
}


.five-card{
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 2px 1px #ccc;
    padding: 10px ;
    gap: 20px;
    margin-bottom: 1rem;
}

.five-para{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.five-card .five-para h5{
    margin: 0;
}

.five-card  .five-para p{
    margin: 0
}

.five-card img{
    width: 100%;
}

.five-card .c-img{
    width: 10%;
}


/* next section six */

.next-section-six{
    /* padding-left: 2rem; */
    margin-top: 5rem;
}

.next-section-six h5{
    font-size: 17px;
    padding-bottom: 1rem;
    font-weight: bold;
}

.six-card{
    width: 20%;
    box-shadow: 0px 0px 2px 1px #ccc;
    padding: 10px;
}

.six-card .six-head{
    display: flex;
    gap: 1rem;
}

.six-card .six-heading{
    font-size: 15px;
    font-weight: bold;
    width: 75%;
    line-height: 20px;
    padding: 5px 0;
}

.six-ending{
    margin-top: 2rem;
    
}

.six-icon{
    display: flex;
    justify-content: space-between;
  padding-top: 10px;
}

.six-icon span{
    color: #12b194;
}
.six-card-main{
    display: flex;
    gap: 1rem;
}

.six-bottom-head{
    margin:30px 0;
    font-weight: bold;
}


/* verticle heaings */

.six-verticle-heading{
    position: absolute;
    left: -10px;
    transform: rotate(-90deg);
    margin-top: 6.5rem;
    font-weight: bold;

}

.first{
    margin-top: 3rem;
}


/* adding media queries for mobile responsive. */

@media screen and (max-width: 625px){
    .main-container{
        padding-left: 0;
        display: flex;
    }

    .main-border {
        border: none;
    }

    .six-verticle-heading{
        display: none;
    }

    /*hero section  */

    .hero-section{
        flex-direction: column;
    }

    .hero-left{
        width: 97%;
    }

    .pst-link{
        flex-direction: column;
        gap: 1rem;
        width: 97%;
        top: 0rem;
    }

    .features{
      top: -0.5rem;
    }

    .features h5{
      margin-bottom: 0.8rem;
    }


    .feature-main{
        flex-direction: column;
        gap: 1rem;
       
    }

    .hero-right{
        width: 97%;
        padding-right: 0;
       
    }

    .application-para1 .image-main{
        flex-direction: column;
        text-align: left;
        padding-left: 0rem;
    }

    .add-share{
        margin-bottom: 2rem;
    }

    .technical-attribute{
        width: 96%;
    }

    .next-section{
        width: 97%;
    }

    .next-five-section{
        width: 97%;
    }

    .next-four{
        flex-direction: column;
    }
    .six-card{
        width: 95%;
    }

    .six-card-main{
        flex-direction: column;
    }
}